.title {
  color: var(--pure-white);
  font-size: 2rem;
  font-family: var(--heading-font);
  line-height: 2rem;
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
